@charset "utf-8";
/* CSS Document */

body {
	background-image:url(pic6.jpg);
	background-color:#000;
	
}
.pic {
	text-align:center;
	background-image:url(bg.png);
	margin-top:600px;
	margin-left:0px;
}
.btn {
	width:120px;
	height:36px;
	background-color:#666;
	margin-left:70px;
	margin-top:30px;
}
.end {
	margin-left:400px;
	font-size:75%;
	color:#707070;
	word-spacing: 1px;
}
.word {   
    margin-left:450px;
	margin-top:80px;
	font-size:280%;
	color:#000;
	word-spacing: 1px;
	font-family:'Comic Sans MS', cursive, sans-serif;
	 font-weight:bold;
}
.logo{
	width:270px;
	height:120px;
	margin-left:500px;
	margin-top:30px;
}